@charset "utf-8";
/* CSS Document */
/* CSS初使化 */
*{
	margin:0;
	padding:0;
}
html{
	font-size:62.5%;/*初使页面字体大小为10像素*/
}
img, fieldset {
	border: 0;
}

img {
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
}
li{
	list-style:none;
}
a{
	text-decoration:none;
}
body{
	font-family:"Microsoft Yahei";
	background:#F8F8F8;
}
/* 右侧导航 */
#fullPage-nav {
	/*_display: none;“_”　IE6可以识别”_”,IE7、IE8、FireFox不能.*/
	font-size: 12px;
}
#fullPage-nav li {
	width: 90px;
	height: 21px;
	margin: 10px 0 0;
	vertical-align: middle;
}
#fullPage-nav li a {
	float: right;
	width: 21px;
	height: 21px;
	color: #8F9DA4;
	text-decoration: none;
	text-align: right;
	background: url(../images/dot.png) 5px 5px no-repeat;
}
#fullPage-nav li .active {
	background-position: 0 bottom;
}
#fullPage-nav span {
	display: none;
}
.fullPage-tooltip {
	float: left;
	top: 0;
	margin-right: 5px;
	font: 12px "Microsoft Yahei";
	color: #8F9DA4;
	line-height: 21px;
}
/* 统一样式 */
.section {
	position: relative;
	overflow: hidden;
}
.section .bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.section .bg img {
	display: block;
	width: 100%;
	height: 100%;
}
.section strong {
	position: absolute;
	left: 68%;
	top: 20%;
	z-index: 10;
	width: 56px;
	height: 45px;
	margin-left: -256px;
	font-size: 2.8rem;
	font-weight: 500;
	color: #fff;
	opacity: 0;
	-webkit-transform: scale(0.5, 0.5);
	transform: scale(0.5, 0.5);
	transition: all 1s;
}
.section strong p{
	font-size:1.8rem;
	color:rgba(212,212,212,1.00);}
/* 第一屏样式 */
.section1{
	position:relative;
}
.section1::before{
	position:absolute;
    background-size: 1px 3px;
    display: block;
	z-index:1000;
	content:"";
	left:0;
	top:0;
	right:0;
	bottom:0;
	background-position: center center;
}
.section1 video{
	opacity:0.7;
}
header {
	margin-top:20px;
	position:fixed;
    width: 100%;
    z-index:9999;
	top:0;
	left:0;
}
header .logo img {
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    padding: 1rem;
}

header nav ul {
    float: right;
    padding: 0 2%;
}

header nav ul li {
    float: left;
    margin: 0 2px;
    position: relative;
    text-align: center;
}
header nav ul li a {
    color:#8E8E8E;
    display: block;
    font-size: 1.4rem;
    line-height:6rem;
    padding: 0 3rem;
	position:relative;
}
header nav ul li a:hover{
	color:green;}
header nav ul li a::before {
    background: green none repeat scroll 0 0;
    bottom: -1px;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
	left:0;
	right:0;
	margin:0 auto;
	width:60px;
	opacity:0;
	transform:scale(0,0)
}
header nav ul li a:hover::before{
	opacity:1;
	transform:scale(1,1);
	transition-duration:0.6s;
}
header nav ul li.current  a::before{
	position:absolute;
	content:"";
	bottom:-1px;
	height:1px;
	background:green;
	display:block;
	left:0;
	right:0;
	opacity:1;
	transform:scale(1,1);
}
.current a{
	color:green;}
.nav-list {
    float: right;
    height: 30px;
    margin-right: 3%;
    margin-top: 10px;
    width: 30px;
	display:none;
}
.nav-list .sec-menu{
	position:absolute;
	top:0px;
	left:0;
	width:100%;
	margin-top:45px;
	display:none;
}
.nav-list .sec-menu li a{
	display:block;
	width:100%;
	padding:1.6rem 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	text-align:center;
	background:rgba(0,0,0,0.5);
	color:#e6e6e6;
	font-size:1.6rem;
}
.nav-list a.list-ico:hover img{
	transform:rotate(90deg);         /* 标准旋转属性 */
	-ms-transform:rotate(90deg); 	/* IE 9 */
    -moz-transform:rotate(90deg); 	/* Firefox */
    -webkit-transform:rotate(90deg); /* Safari 和 Chrome */
    -o-transform:rotate(90deg); 	/* Opera */
	transition-duration:0.6s;
}
/* 第二屏样式 */
/*菜品样式 */

.caipin{
	width:1200px;
	margin:0 auto;
	margin-top:30px;
}
.caipin .header{
	overflow:hidden;
}
.caipin h1.title{
	color:#7C7C7C;
	font-size:2.8rem;
	font-weight:normal;
	text-align:center;
}
.caipin .title p{
	font-size:1.4rem;
	color:#7E7E7E;
}
.caipin-img{
	overflow:hidden;
	clear:both;
	margin-top:10px;
}
.caipin-img li{
	width:23.5%;
	float:left;
	margin-right:2%;
}
.caipin-img li:last-child{
	margin-right:0;
}
.caipin-img li .title{
	color:#6F6F6F;
	font-size:1.8rem;
	text-indent:0.5rem;/*文体缩近*/
	margin:1rem 0 0.5rem 0;
	overflow: hidden;/*溢出隐藏*/
	text-overflow: ellipsis;/*文字过多时，显示省略符号*/
	white-space: nowrap;/*强制在同一行显示*/
}
.caipin-img li .subtitle{
	color:#bbb;
	font-size:1.4rem;
	text-indent:0.5rem;
}
.bg21 {
	position: absolute;
	left: 50%;
	bottom: 15%;
	width: 819px;
	height: 250px;
	margin-left: -608px;
	margin-bottom: 40px;
	transition: all 1s;
	opacity: 0;
	margin-left: -1108px;
}
.bg22 {
	position: absolute;
	left: 50%;
	bottom: 15%;
	width: 819px;
	height: 299px;
	margin-left: -280px;
	margin-bottom: 70px;
	background: url(../images/bg22.png) right 0 no-repeat;
	transition: all 1s;
	opacity: 0;
	margin-left: 320px;
}
.bg23 {
	position: absolute;
	left: 50%;
	bottom: 15%;
	width: 819px;
	height: 325px;
	margin-left: -409px;
	background: url(../images/bg23.png) 50% 0 no-repeat;
	transition: all 1s;
	bottom: -40%;
}
.p1 {
	position: absolute;
	left: 67%;
	top: 10%;
	width: 56px;
	margin-left: -255px;
	font-size:2.8rem;
	color: #7c7c7c;
	opacity: 0;
	transition: all 1s;
}
.p1 span{
	color:#B1B1B1;
	font-size:1.8rem;}
.more a{
	display:inline-block;
	margin-top:70px;
	margin-left:43%;
	text-align:center;
	line-height:30px;
	font-size:1.6rem;
	color:rgba(171,171,171,1.00);
	padding:0px 70px;
	border:1px solid #C3C3C3;}
.more a:hover{
	color:green;
	border:1px solid green;}
/* 第三屏样式 */
.section3 h3 {
	background-image: url(../images/t3.png);
}
.text-a{
	color:#8E8E8E;
	font-size:1.4rem;
	line-height:30px;
	position:absolute;
	z-index:9999;
	top:46%;
	left:48%;}
.p3 {
	position: absolute;
	width:1170px;
	height:300px;
	left: 43%;
	top: 15%;
	margin-top: 250px;
	margin-left: -100%;
	font-size: 16px;
	background:#fff;
	color: #FFFDE1;
	opacity: 0;
	transition: all 1s;
}

/* 第四屏样式 */
.bg41 { position: absolute; bottom: -372px; width: 100%; height: 372px; background: url(../images/bg41.png) 50% 0 no-repeat; transition: all 1s;}
.bg42 { position: absolute; bottom: -449px; width: 100%; height: 449px; background: url(../images/bg42.png) 50% 0 no-repeat; transition: all 1s;}
.bg43 { position: absolute; bottom: -449px; width: 100%; height: 449px; margin-bottom: -130px; background: url(../images/bg43.png) 50% 0 no-repeat; transition: all 1s;}


/* CSS3过度及动画 */
.active strong, .active h3 {
	opacity: 1;
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
	transition-delay: 0.7s;
}
/*第一屏 */
.active .hgroup {
	opacity: 1;
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
	transition-delay: 0.7s;
}
.active .mail {
	top: 25px;
	transition-delay: 0.7s;
}
.active .p11 {
	opacity: 1;
	transition-duration: 1s;
	transition-delay: 2s;
}
/*第二屏 */
.active .bg21 {
	opacity: 1;
	margin-left: -608px;
	transition-delay: 0.7s;
}
.active .bg23 {
	bottom: 15%;
	transition-delay: 0.7s;
}
.active .bg22 {
	margin-left: -280px;
	opacity: 1;
	transition-delay: 0.7s;
}
.liaojie{
    position: absolute;
    z-index: 9998;
    top: 65%;
    left: 110px;
    color: #7c7c7c;
    border: 1px solid #c3c3c3;
    color: rgba(171, 171, 171, 1);
    display: inline-block;
    font-size: 1.6rem;
    line-height: 30px;
    margin-left: 50%;
    margin-top: 0%;
    padding: 0 70px;
    text-align: center;
}
.liaojie:hover{
	position:absolute;
	z-index:9998;
	top:65%;
	left:110px;
	color:green;
	border: 1px solid green;
    display: inline-block;
    font-size: 1.6rem;
    line-height: 30px;
    margin-left: 43%;
    margin-top: 70px;
    padding: 0 70px;
    text-align: center;
}

/*第三屏 */

.active .p3 {
	margin-left: -480px;
	opacity: 1;
	transition-delay: 0.7s;
}
.active .bg31, .active .bg32 {
	opacity: 1;
	transition-delay: 1s;
}
.active .bg33 {
	margin-left: -120px;
	opacity: 1;
	transition-delay: 0.7s;
}

.foot{
	width:100%;
	height:100px;}
.foot .p-1{
	margin-top:80px;
	color:#8c8c8c;
	font-size:2.8rem;
	text-align:center;}
.foot .p-2{
	color:#9c9c9c;
	font-size:1.6rem;
	text-align:center;}

/*媒体查询样式*/
@media screen and (min-width:1025px) {
.active .p11 {
	opacity: 0;
}
/*.active .p1 {
	opacity: 0;
}*/
}
.inputsub{
	width:260px;
	height:50px;
	line-height:50px;
	position:absolute;
	z-index:9999;
	top:380px;
	left:42.5%;
	background:none;
	color:#424242;
	border:1px solid rgba(147,147,147,0.5)
}
.inputsub:hover{
	color:green;
	border:1px solid green;}
.inputtxt{
	background:rgba(0,0,0,0) none repeat sorolu 0 0;
	border-color:-moz-use-text-color rgba(80,80,80,0.22);
	border:none;
	color:#000;
	float:left;
	margin:40px 0 0 40px;
	width:320px;
	height:32px;
	background:none;
	border-bottom:1px solid rgba(147,147,147,0.5)}
.inputtxt-a{
	background:rgba(0,0,0,0) none repeat sorolu 0 0;
	border-color:-moz-use-text-color rgba(80,80,80,0.22);
	border:none;
	color:#000;
	float:left;
	margin:40px 0 0 40px;
	width:1040px;
	height:32px;
	background:none;
	border-bottom:1px solid rgba(147,147,147,0.5)}
.zhong{
	width:1120px;
	height:300px;
	margin:0 auto;
	margin-top:170px;}
.foot-2{
	margin:400px auto;
	width:820px;}
.foot-2 ul{
	display:block;
	float:left;
	margin-right:150px;}
.foot-2 ul:last-child{
	margin-right:0;}
.foot-2 li{
	font-size:1.4rem;
	color:#979797;}
.foot-2 li span{
	font-size:1.4rem;
	color:#373737;}
.copyright{
	position:absolute;
	top:96%;
	left:39%;
	font-size:14px;
	color:#888;}
.foot-a p{
	color:#353535;
	font-size:1.6rem;}
.foot-a li{
	display:inline-block;
	padding-right:20px;
	margin-top:20px;}
